body{
	background-image: url(../img/fondo1.jpg);
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
    background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

div.card{
	border-style: solid;
	border-radius: 10px;
	background-color: RGBA(50,50,50,0.5);
	opacity: 0,5;
	color: black; /*letras*/
	margin: 50px;
	width: 550px;
	display: block;
	margin:auto;
}

#login{
	background-color: rgba(0,0,0,0.25);
	border: 8px solid rgba(110,173,194,0.5);
	border-radius: 2rem;
	width: 500px;
}

.div_icon{
	position: absolute;	
}

.stylefooter{
	display: block;
	margin: auto;
	width: 500px;
	height: 100px;
	bottom: 0%;
}

.navbar{
	background-color: #F5B041;
	margin-left: 200px;
	margin-right: 200px;
	border-radius: 10px;
}

/* Estilo Box Inicio de sesion*/

.box{
 	margin: 0 auto;
	text-align: center;
}

.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.box input[type = "rut"],.box input[type = "password"]{
  	background: none;
  	text-align: center;
  	border: 2px solid rgba(250,206,157,1);
  	padding: 15px 10px;
	width: 280px;
	outline: none;
	color: white;
	border-radius: 1rem;
	transition: 0.25s;
}

.box input[type = "rut"]:focus,.box input[type = "password"]:focus{
  	width: 300px;
	display: block;
	position: relative;
	border-color: #2ecc71;
}

.box input[type = "submit"]{
  	background: none;
  	text-align: center;
  	border: 2px solid rgba(235,235,65,1);
  	padding: 14px 40px;
  	outline: none;
  	color: white;
  	border-radius: 24px;
  	transition: 0.25s;
  	cursor: pointer;
}

.box input[type = "submit"]:hover{
	background: #2ecc71;
}

/* Botones */

.boton{
	display: block;
	margin: auto;
	background-color: #4873D9;
	color: #ffffff;
	border-color: #000000;
	border-radius: 20px;
	height: 50px;
	width: 300px;
	text-align: center;
}

.boton:hover{
	background: #F5B041;
}

.boton-is{
	position:absolute;
	right: 12%;
	background-color: #F5B041;
	color: #ffffff;
	border-radius: 10px;
}

.boton-is2{
	color: #ffffff;
	margin-left: 10px;
	margin-right: 10px;
}

.btn-hrs{
	/*background-color: #589B45;
	color: #ffffff;
	width: 200px;
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:0 0.3em 0.3em 0;*/
	display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}

.btn-hrs:hover {
	/*background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;*/
	color:#000000;
 background-color:#FFFFFF;
}

/* Estilo imagen hr. especial*/

.hr-especial{
	display: block;
	width: 200px;
	height: 200px;
}

/*	Estilo Tablas	*/

table{
	border-collapse: collapse;
	border: 1px solid black;
	color: #ffffff ;
	text-align: center;
}

td{
	height: 50px;
	border: 1px solid black;
	border-color: #F5B041;
}

th{
	border: 1px solid black;
  	border-color: #F5B041;
}

table.a{
	color: #ffffff ;
	table-layout: fixed;
	width: 90%;
}



/**/

.in-usuario{
	color: #ffffff;
	width: 300px;
}
